#correct_answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper_correct_updated {
    width: 80%;
    /* Adjusted width for responsiveness */
    max-width: 1000px;
    /* Set maximum width */
    padding: 60px 90px;
    /* Adjusted padding */
    margin: 30px auto;
    /* Centering horizontally */
    background-color: #209A45;
    border-radius: 37px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.correct_ans-headline-updated {
    font-family: 'Modak';
    font-weight: 400;
    color: white;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    margin-top: 20px;
}

.correct_ans-nr-updated {
    font-family: 'Modak';
    font-weight: 400;
    color: #A9E628;
}

.correct_ans-next-updated {
    display: inline-block;
    margin-top: 20px;
    /* Adjusted margin */
    font-family: 'Modak';
    font-weight: 400;
    color: white;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    /* Adjusted padding */
    border-radius: 37px;
    border: 3px solid black;
    background-color: #209A45;
    cursor: pointer;
    box-shadow: 16px 15px 23px -10px rgba(0, 0, 0, 0.75);
}

.correct_ans-next-updated:hover {
    filter: brightness(1.3);
}

#imageCorrect_updated {
    width: 250px;
    /* Adjusted image width */
    height: auto;
    margin-bottom: 20px;
    /* Adjusted margin */
}

#correct_answer_btn_updated {
    margin-top: 20px;
    /* Adjusted margin */
}